.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear,
    visibility 250ms linear;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  top: 50%;
  left: 50%;

  background-color: var(--bgc-basic);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-send {
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-font-second);
  margin-bottom: 15px;

}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 0 0 0 40px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-font-first);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
    &:hover,
    &:active {
      border-color: var(--color-blue);
      outline: 0;
      outline-offset: 0;
      cursor: text;
    }

       &::placeholder {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.01em;
          color: var(--color-placeholder);
        }
}

.input-lable {
  display: block;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--color-font-first);
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-font-second);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-input:focus + &,
    .modal-input:hover + &,
    .modal-input:active + & {
      fill: var(--color-blue);
    }
}

.backdrop.is-hidden {
  .modal {
  transform: translate(-50%, -50%) skew(45deg);

}
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.imput-comment {
  padding-left: 15px;
}






.modal-textarea {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-font-first);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
   &:hover,
    &:active {
      border-color: var(--color-blue);
      outline: 0;
      outline-offset: 0;
      cursor: text;
    }
}




::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.btn-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
   &:focus {
      color: var(--color-blue);
  
    }
}

.icon-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--color-blue);
  }
}





.btn-send {
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;

  background: var(--color-blue);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-font-third);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
     &:focus {
        background-color: var(--btn-hero-bgc-active);
        cursor: pointer;
      }
}







.check-road {
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-click {
  margin-right: 10px;
}

.check-text {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-font-first);

}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-check:checked + & {
    background-color: var(--color-blue);
    border: none;
    fill: var(--bgc-basic);
    cursor: pointer;
  }

  .modal-check:hover + &,
  .modal-check:focus + & {
    border-color: var(--color-blue);
    cursor: pointer;
  }

}


.check-link {
  color: var(--color-blue);
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-line color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--btn-hero-bgc-active);
    text-decoration-line: none;
  }
}




.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}