body {
  background-color: var(--bgc-basic);
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
  color: var(--color-font-first);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}