:root {
  --bgc-basic: #FFFFFF;
  --bgc-second: #2F303A;
  --bgc-team: #F5F4FA;
  --color-blue: #2196F3;
  --color-font-first: #757575;
  --color-font-logo: #000000;
  --color-font-second: #212121;
  --color-font-third: #ffffff;
  --color-font-contacts: rgba(255, 255, 255, 0.6);
  --btn-hero-bgc-active: #188CE8;
  --bgc-benefits: #F5F4FA;
  --icon-color: #afb1b8;
  --bgc-footer: #2F303A;
  --color-border: #EEEEEE;
  --color-placeholder: rgba(117, 117, 117, 0.5);

}